body {
    height:100vh;
    margin:0;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family:sans-serif;
}

.row {
    display:flex;
    flex-direction:row;
    gap:10px;
    align-items:center;
    justify-content:center;
    flex:3;
}

.clear-row {
    flex:2;
}

#display {
    border-radius:3px;
    border:1px solid green;
    display:flex;
    justify-content:flex-end;
    padding-right:15px;
    background-color:rgb(200, 255, 208);
    color: rgb(66, 79, 68);
    font-size:28px;
}

.button {
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    height:100%;
    text-align:center;
    border-radius:3px;
    background-color:rgb(77, 77, 77);
    color:white;
}

#equals {
    flex:2;
}

.display {
    flex:auto;
}

#clear {
    margin-left:30%;
    margin-right:30%;
    color:white;
    background-color: rgb(219, 83, 83);
}

.container {
    width:300px;
    height:400px;
    gap:10px;
    box-shadow:5px 5px 5px gray;
    background-color:black;
    display:flex;
    flex-direction:column;
    padding:20px;
    border-radius:5px;
}

